@import url(https://fonts.googleapis.com/css?family=Poppins);

body {
  // background: black;
  font-size: 3.5em;
  letter-spacing: -15px;
  line-height: 0.9;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
}

.container {
  padding: 150px 0;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  animation: 4s abcdef infinite;
  // border: 1px solid red;
}

li {
  display: inline;
  // border: 1px solid red;
  text-align: center;
}

@keyframes abcdef {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}

.xmastree {
  // border: 1px solid blue;
}

.text {
  letter-spacing: normal;
  line-height: 1.2;
  color: #f2f2f2;
  text-align: center;
  font-family: Poppins;
}

.text p {
  margin: 12px;
}

.signoff {
  font-size: 24px;
}
